.UpcomingTasks {
  height: 45%;
}
.UpcomingTasks h2 {
  text-align: center;
  font-family: main_k;
  letter-spacing: 3px;
  color: var(--white);
  font-size: 22px;
}
.UpcomingTasks h2 span {
  color: var(--red);
}
.UpcomingTasks .UTasksRow {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  height: 100%;
}
.UpcomingTasks .UTasksRow .UTask {
  display: flex;
  align-items: center;
}
.UpcomingTasks .UTasksRow .UTask .UTaskIcon {
  height: 25px;
  aspect-ratio: 1;
  border-radius: 5px;
}
.UpcomingTasks .UTasksRow .UTask p {
  font-family: main_k;
  letter-spacing: 1px;
  margin-left: 10px;
}
.UpcomingTasks .UTasksRow .UTask .UTime {
  margin-left: auto;
  color: var(--placeholder);
}
.UpcomingTasks .UTasksRow .BlueCardTask p {
  color: var(--blue);
}
.UpcomingTasks .UTasksRow .BlueCardTask .UTaskIcon {
  background-color: var(--blue);
  box-shadow: 0px 6px 0px rgba(5, 191, 219, 0.25);
}
.UpcomingTasks .UTasksRow .YellowCardTask p {
  color: var(--yellow);
}
.UpcomingTasks .UTasksRow .YellowCardTask .UTaskIcon {
  background-color: var(--yellow);
  box-shadow: 0px 6px 0px rgba(255, 153, 58, 0.25);
}
.UpcomingTasks .UTasksRow .RedCardTask p {
  color: var(--red);
}
.UpcomingTasks .UTasksRow .RedCardTask .UTaskIcon {
  background-color: var(--red);
  box-shadow: 0px 6px 0px rgba(255, 46, 98, 0.25);
}
.UpcomingTasks .UTasksRow .PurpleCardTask p {
  color: var(--purple);
}
.UpcomingTasks .UTasksRow .PurpleCardTask .UTaskIcon {
  background-color: var(--purple);
  box-shadow: 0px 6px 0px rgba(157, 45, 255, 0.25);
}