.CreateBlock {
  width: 100%;
}
.CreateBlock h2 {
  font-family: main_k;
  letter-spacing: 2px;
  color: var(--white);
  font-size: 24px;
}
.CreateBlock h2 span {
  color: var(--red);
}
.CreateBlock form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.CreateBlock .Inputer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.CreateBlock .Inputer .InpHolder {
  font-family: main_k;
  letter-spacing: 2px;
  color: var(--label);
}
.CreateBlock .Inputer input,
.CreateBlock .Inputer textarea {
  font-family: main_k;
  letter-spacing: 1px;
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  background-color: var(--input-bg);
  outline: none;
  background-color: var(--input-bg);
  resize: none;
  padding: 0px 10px;
  color: var(--white);
}
.CreateBlock .Inputer input::placeholder,
.CreateBlock .Inputer textarea::placeholder {
  color: var(--placeholder);
}
.CreateBlock .Inputer textarea {
  height: 100px;
  padding: 10px;
}
.CreateBlock .Inputer .InpRow {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.CreateBlock .Inputer .MiniInp {
  height: 35px;
  width: 120px;
  text-align: center;
}

.CategoryChoose {
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.CategoryChoose .CategoryBlock {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 160px;
  font-family: main_kb;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  transition: border 0.2s;
}
.CategoryChoose .blue {
  color: var(--blue);
  background-color: rgba(5, 191, 219, 0.1);
  border: 2px solid transparent;
}
.CategoryChoose .blue.CategoryActive {
  border: 2px solid var(--blue);
}
.CategoryChoose .yellow {
  color: var(--yellow);
  background-color: rgba(255, 153, 58, 0.1);
  border: 2px solid transparent;
}
.CategoryChoose .yellow.CategoryActive {
  border: 2px solid var(--yellow);
}
.CategoryChoose .red {
  color: var(--red);
  background-color: rgba(255, 46, 98, 0.1);
  border: 2px solid transparent;
}
.CategoryChoose .red.CategoryActive {
  border: 2px solid var(--red);
}
.CategoryChoose .purple {
  color: var(--purple);
  background-color: rgba(157, 45, 255, 0.1);
  border: 2px solid transparent;
}
.CategoryChoose .purple.CategoryActive {
  border: 2px solid var(--purple);
}

.AddTask {
  display: block;
  margin-left: auto;
  background-color: var(--green);
  border-radius: 5px;
  color: var(--bg);
  cursor: pointer;
  font-size: 16px;
  font-family: main_k;
  letter-spacing: 1px;
  height: 35px;
  width: 180px;
  border: 0;
  box-shadow: 0px 6px 0px rgba(40, 223, 153, 0.25);
  transition: box-shadow 0.2s;
}
.AddTask:hover {
  box-shadow: 0px 0px 0px rgba(40, 223, 153, 0.25), 0px 0px 15px rgba(40, 223, 153, 0.3);
}

.AlertBack {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.3s;
}
.AlertBack .TaskAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: auto;
  padding: 50px 0;
  width: 95%;
  max-width: 500px;
  border-radius: 15px;
  background-color: var(--block-bg);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.2s;
}
.AlertBack .TaskAlert p {
  font-family: main_k;
  letter-spacing: 3px;
  font-size: 24px;
  color: var(--white);
}
.AlertBack .TaskAlert button {
  margin-top: 20px;
  height: 40px;
  width: 220px;
  border-radius: 5px;
  border: 0;
  font-family: main_kb;
  letter-spacing: 2px;
  font-size: 17px;
  color: var(--block-bg);
  background-color: var(--green);
  cursor: pointer;
  box-shadow: 0px 6px 0px rgba(40, 223, 153, 0.25);
  transition: box-shadow 0.2s;
}
.AlertBack .TaskAlert button:hover {
  box-shadow: 0px 0px 0px rgba(40, 223, 153, 0.25), 0px 0px 15px rgba(40, 223, 153, 0.3);
}
.AlertBack .TaskAlert .erB {
  background-color: var(--red);
  box-shadow: 0px 6px 0px rgba(223, 64, 40, 0.25);
}
.AlertBack .TaskAlert .erB:hover {
  box-shadow: 0px 0px 0px rgba(223, 64, 40, 0.25), 0px 0px 15px rgba(223, 64, 40, 0.3);
}

.SAlert {
  visibility: visible;
  opacity: 1;
}
.SAlert .TaskAlert {
  opacity: 1;
}